<h2 mat-dialog-title>Editar Usuario</h2>
<mat-dialog-content class="mat-typography">

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Juan">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input matInput placeholder="Perez">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="dasdasd">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput placeholder="********">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Imagen</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="ejempo@gmail.com">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close class="btn btn-danger">Cancelar</button>
  <button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-primary">Guardar</button>
</mat-dialog-actions>
