<div id="viewport">

  <div id="sidebar" class="btn btn-light">
    <header>
      <a href="/usuario">Usuarios</a>
    </header>
    <header>
      <a href="/cliente">Clientes</a>
    </header>
    <header>
      <a href="/producto">Productos/Stock</a>
    </header>
    <header>
      <a href="/categoria">Categorias</a>
    </header>


    <header>
      <a href="/venta">Ventas</a>
    </header>
    <header>
      <a href="/compra">Compras</a>
    </header>
    <header>
      <a href="/reporte">Reportes</a>
    </header>



  </div>



  <nav class="navbar navbar-light bg-light">
    <img src="https://png.pngtree.com/template/20190512/ourmid/pngtree-medical-cross-and-health-pharmacy-logo-vector-template-image_148831.jpg" height="70px" width="70px">
    <span class="navbar-brand mb-0 h1">FARMACIA EJEM</span>
  </nav>


<router-outlet></router-outlet>
